{% extends 'base.html' %}

{% block content %}

<div class="card">
    <div class="card-body">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Ticket ID</th>
                    <th scope="col">Title</th>
                    <th scope="col">Date Created</th>
                    <th scope="col">Status</th>
                </tr>
            </thead>
            <tbody>
                {% for ticket in tickets %}
                <tr>
                    <td><a href="{% url 'ticket-details' ticket.ticket_id %}">{{ticket.ticket_id}}</a></td>
                    <td>{{ticket.title}}</td>
                    <td>{{ticket.date_created}}</td>
                    {% if ticket.status == 'Pending' %}
                    <td><span class="badge bg-warning">Pending</span></td>
                    {% elif ticket.status == 'Active' %}
                    <td><span class="badge bg-success">Active</span></td>
                    {% elif ticket.status == 'Closed' %}
                    <td><span class="badge bg-danger">Closed</span></td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock content %}